

<head>
    <style>
        body {
          background-image: url('img/bg.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
    <title>
        The Egami App
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="technion-logo-container">
        
        <img id="technion-logo" src="img/Technion.jpg" alt="Technion">
    </div>

    <div style="text-align: center;padding-top:200px;">
        <h1 > Egami </h1>
        <p> 
            The Egami app is a web service with a single page that gets an image file from the user and <br>
            then shows the same image rotated by 180 degrees and color inverted
        </p>
        <h2>Upload an image and see it get Egami'd:</h2>

        {% if uploaded_image != null %}
        <img id="display-image" src="data:image/jpeg;base64,{{ uploaded_image }}" alt="">
        {% endif %}

        <form action="upload_image" method=post enctype=multipart/form-data>
            <input type=file name="file"> <br>
            <input id="submit-button" type=submit value=Upload>
        </form>
    </div>
        <h2 style="color:rgb(250, 250, 250); text-align: center;padding-top:200px;">Made By Mais Hadid & Sabry Assaf</h2>  

</body>
